In [44]:
print("hello world")

hello world

In [41]:
myfirstname = "John"
mylastname = "David"
PlaceOfBirth = "Karachi"
CountryName = "Pakistan"
print(myfirstname)
print(mylastname)

John
David

In [42]:
foogle = "Mark"
name = "Mark"
print(foogle)

Mark

In [38]:
thanx = "Thanks for your input"
print(thanx)

Thanks for your input

In [36]:
mynameis = "afzal"
print(mynameis)

afzal

In [27]:
name = "Afzal"
print("name")

name

In [35]:
name = "Mark"
print(name)

Mark

In [34]:
name = "Ace"
print(name)

Ace

In [51]:
Lesson_Author_Name = "Mark"
guy_who_keep_saying_his_own_name = "John"
print(lesson_author_name)
print(guy_who_keep_saying_his_own_name)

Mark
John

In [52]:
first_name = "Afzal"
print(first_name)

last_name = "umer"
print(last_name)

Afzal
umer

In [54]:
birth_place = "Karachi"
country_origin = "Pakistan"
print(birth_place)
print(country_origin)

Karachi
Pakistan

In [55]:
nickname = "Alia"
print(nickname)

Alia

In [61]:
first_name = "umer"
print(first_name)

umer

In [63]:
weight = 150
print(weight+25)

175

In [70]:
original_number = 23
new_number = originalnumber + 23
print(newnumber)

46

In [76]:
original_number = 200
new_value = original_number + 100
print(new_value)

300

In [79]:
original_value = 21
numberaddtobe = original_value + 21
print(numberaddtobe)

42

1st_number = 25
2nd_number = 25
new_number= 1st_number + 2nd_number
print(new_number)

In [84]:
First_number = 33.5
new_number = First_number + 34.5
print(new_number)

68.0

In [90]:
popularnumber = 2 + 2
print(popularnumber)

4

In [86]:
print(2 + 2)

4

In [92]:
loss = 4 - 12
print(loss)

-8

In [93]:
loss = 4 * 12
print(loss)

48

In [94]:
loss = 4 + 12
print(loss)

16

In [95]:
profit = 12/4
print(profit)

3.0

In [100]:
#Float explanation#
number = 0.75
total = number + 200
print(total)

200.75

In [103]:
num = 10
another_number = 2.5
total = num + another_number
print(total)

12.5

In [104]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [105]:
age = 7
new_value = age + 7
print(new_value)

14

In [108]:
age = 54
newage = age * 2
print(newage)

108

In [112]:
total_cost = 1 + (4 * 4)
print(total_cost)

17

In [115]:
total_cost = (1+10) * 4
print(total_cost)

44

result = (2 * 4) * 4 + 2
print(

In [118]:
result = ((3 * 4) * 4) + 2
print(result)

50

result = (2 * 4) * (4 + 2)
print(result)

In [119]:
result = (2 * 4) * (4 + 2)
print(result)

48

In [126]:
first_name = "Afzal"
last_name = "'mer"
full_name = first_name + last_name
print(full_name)

Afzal'mer

In [14]:
#Concanatating Text#
a = "afzal"
b = " umer"
c = " ali"
total = a + b + c
print(total)

afzal umer ali

In [15]:
a = 3
b = 4
if b>a:
 print("True")

True

In [17]:
a = 3
b = 3
if b>a:
 print("True")
elif a==b:
 print("All Equal")

All Equal

In [23]:
a = 200
b = 300
if b>a:
  print("greater")

elif b<a:
 print("less")

greater

In [29]:
a = 33
b = 20
if b>a:
 print("b is greater then a")
elif a == b:
 print(" a and b are equal")
else:
 print("a is greater then b")

a is greater then b

In [37]:
a = 200
b = 500
if b>a:
 print("b is greater then a")
else:
 print("b is less then a")

b is greater then a

In [45]:
a = 70
b = 33
if b>a:
 print("b is greater then a")   
else:
 print("b is less then a")

b is less then a

In [52]:
a = 200
b = 33
c = 500
if a>b and c>a:
 print("both conditions are true")

both conditions are true

In [57]:
a = 800
b = 500
c = 100
if a>b and b == a:
 print("both conditions are false")

In [62]:
a = 200
b = 33
c = 500
if a>b or c<b:
 print("both are true")

both are true

In [64]:
x = 41
if x < 10:
 print("Above Ten")    

if x < 20:
 print("above 20")

else:
 print("values are not equal")

values are not equal

In [77]:
species = "alll"
if species == "cat":
 print("yes it is cat")
species = "ggggg"
if species == "dog":
 print("yes it is a dog")
else:
 print("not found")

not found

In [83]:
species = "cat"
if species == "cat":
 print("status ok")
species = "all"
if species == "all":
 print("its right")

status ok
its right

In [89]:
if 2 + 2 == 4:
 print("if")

if

In [98]:
if number_of_husbands == 1:
 print("Thats Good News")

Thats Good News

In [103]:
your_ticket_number = 5000434
if your_ticket_number != 200:
 print("better luck next time")

better luck next time

In [115]:
full_name = "Mark"
last_name = "Myers"
total_name = full_name + last_name
 print("total_name")

IndentationError: unexpected indent (<ipython-input-115-dcc0e15b9d83>, line 4)

In [121]:
a = 90
b = 5
if b > a:
 print("great")   
elif b == a:
 print("equal")
else:
 print("not found")

not found

In [2]:
per = int(input("enter your percentage%"));
if per>=80 and per<=100:
 print("A+")    
elif per>=70 and per<=80:
 print("A")    
elif per>=60 and per<=70:
 print("B")
elif per>=0 and per<=60:
 print("Fail")
else:
 print("you have given inappropiate%" )

enter your percentage%80
A+

In [3]:
per = int(input("enter your percentage%"));
if per>=80 and per<=100:
 print("A+")    
elif per>=70 and per<=80:
 print("A")    
elif per>=60 and per<=70:
 print("B")
elif per>=0 and per<=60:
 print("Fail")
else:
 print("you have given inappropiate%" )

enter your percentage%200
you have given inappropiate%

In [2]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 8
This is an even number.

In [12]:
number_of_husbands = 3

if number_of_husbands == 1:
 print("Good") 

if number_of_husbands == 2:
 print("Excellent")    

if number_of_husbands == 3:
 print("Bad")

Bad

In [17]:
first_name = "Marks"
last_name = "Myers"
full_name == first_name + last_name
print(full_name)

Afzalumer

In [1]:
first_name = "Marks"
last_name = "Myers"
full_name == first_name + last_name

NameError: name 'full_name' is not defined

In [2]:
8 + 2 * 3

14

In [3]:
(8 + 2) * 3

30

In [4]:
2 ** 3

8

In [9]:
10 // 3

3

In [7]:
10 % 3

1

In [10]:
2 ** 3

8

In [13]:
print("afzal")

afzal

In [14]:
"afzal"

'afzal'

In [26]:
print("afzal\'s laptop")

afzal's laptop

In [27]:
print('afzal'  "laptop")

afzallaptop

In [30]:
print("afzal + 'afzal'")

afzal + 'afzal'

In [32]:
10 * "afzal"

'afzalafzalafzalafzalafzalafzalafzalafzalafzalafzal'

In [48]:
print(r"afzal\numer\nali")

afzal\numer\nali

In [54]:
x = "you tube"
print("x")

x

In [56]:
name = "youtube"

In [28]:
age = 70
if age > 21 and age < 21 and res == "U.K":
 print("age")

In [19]:
x = 12
y = 12
a = 5
b = 6
c = 7
d = 7
g = 10
f = 11
e = 9
if(x==y or a==b) and c==d:
 print(g)
else:
 e=f
 print(e)

10

In [29]:
age = 70
if age > 21 and age < 21 and res == "U.K":
 print("age")

In [30]:
age = 70
res = "U.K"
if age > 21 and age < 21 and res == "U.K":
 print(age)
else:
 print(res)

U.K

In [31]:
age = 70
res = "U.K"
if age > 65 or age < 21 and res == "U.K":
 print(age)
else:
 print(res)

70

In [32]:
age = 70
res = "U.K"
if age > 65 or (age < 21 and res == "U.K"):
 print(age)
else:
 print(res)

Output

70

NameError: name 'Output' is not defined

In [35]:
age = 70
res = "U.K"
if age > 65 and age < 21 and res == "U.K":
 print("age")
else:
 print("res")

res

In [40]:
age = 60
res = "U.K"
if age > 65 or age < 21 and res == "U.K":
 print(age)
else:
 print(res)

U.K

In [43]:
age = 60
res = "U.K"
if age > 65 or (age < 21 and res == "U.K"):
 print("age")
else:
 print("res")

res

In [44]:
age = 60
res = "U.K"
if age > 65 or (age < 21 and res == "U.K"):
 print(age)
else:
 print(res)

U.K

In [52]:
age = 60
res = "U.K"
if age > 65 or (age < 21 and res == "U.K"):
 print("age")
else:
 print("res")

res